<form #myform="ngForm"> 
  <div>
    <label>
      <input class="username" [(ngModel)]='userModel.name' placeholder="name" name='name' required>
    </label>

    <label>
      <input [(ngModel)]='userModel.age' placeholder="age" name='age'>
    </label>
  </div>
  <div>
    <label>
      <input [(ngModel)]='userModel.gender' placeholder="gender" name='gender'>
    </label>

    <label>
      <input [(ngModel)]='userModel.phonenumber' placeholder="phonenumber" name='phonenumber'>
    </label>
  </div>
  <button (click)="register()">
    register
  </button>
</form>